body {
    background-color: lightblue;
    margin: auto;
    padding: 30px;
  
}

h2 {
       background-color:brown;
       padding: 5px;
       margin: auto;
       font-family: auto;
       border-radius: 10px;
}

h1 { font-family: monospace;}

footer {text-align: center;}

#code { margin: 30px;
        color: blue;}